<!DOCTYPE html>
<html lang="PT-BR">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css?family=Arima+Madurai|Kaushan+Script|Rubik+Mono+One|Salsa&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <title>SupQr</title>
    </head>
    
    
    <body id="index">
        <header >
            <div class="h-100"> <!--retirar classe container-fluid -->
                <div class="row form-cadastro justify-content-center ">
                    <div class="col-md align-self-center area-form">
                        <div>
                            <h1 class="text-center bg-success d-block text-white p-3" style="font-size: 20px;">Painel de Controle</h1>
                        </div >
                        <div class="dropdown">
                            <button class="btn bg-success" style="margin-top: -105px;"  type="button" data-toggle="dropdown"><img src="../images/image 1.png" class="float-left mt-1 mr-1" height="auto" width="50px">
                            </button>
                            <ul class="dropdown-menu" style="padding: 20px; background-color: rgba(17, 16, 16, 0.89); font-size:25px;" >
                                <routerLink><li><a style="color: white; margin-top: 10px;" href="../painel_admin/index">Início</a></li></routerLink>
                                <routerLink><li><a style="color: white; margin-top: 10px;" href="../painel_admin/cadastrar_area">Cadastrar Área</a></li></routerLink>
                                <routerLink><li><a style="color: white; margin-top: 10px;" href="../painel_admin/cadastrar_equipamentos">Cadastrar Equipamento</a></li></routerLink> 
                                <routerLink><li><a style="color: white; margin-top: 10px;" href="../painel_admin/pesquisar_areas">Pesquisar Área</li></routerLinkl>
                                <routerLink><li><a style="color: white; margin-top: 10px;" href="../painel_admin/pesquisar_equipamentos">Pesquisar Equipamento</a></li></routerLink>
                                <routerLink><li><a style="color: white; margin-top: 10px;" href="../painel_admin/listar_chamados">Relatório de Chamados</a></li></routerLink>
                                <routerLink><li><a style="color: white; margin-top: 10px;" href="#">Sair</a></li></routerLink>  
                            </ul>
                          </div> 
                    </div>
                </div>
            </div>
        </header>
        <main>
            <div class="container-fluid h-100">
                <div class="row form-cadastro justify-content-center ">
                    <div class="col-md-5 align-self-center area-form">        
                        <div>
                            <img src="../images/fabrica-manutencao-logo 2.png" class="mx-auto d-block mt-5" height="auto" width="120px" >
                            <h1 class="mx-auto text-center mt-2" style="font-size:30px; font-family: Orbiton;" ><B>Agilizando seus <br> chamados</h1></B>
                        </div>
                          
                        
                    </div>
                </div>
            </div>
        </main>
        <footer style="position:fixed;bottom: 0; left: 0;right: 0;">
            <div class="h-100 ml-0 mt-4">
                <div class="row justify-content-center ">
                    <div class="col-md align-self-center" style="background-color: #f5f3f0; padding: 10px;">
                        <p style="text-align: center;margin-bottom: 0px;">Desenvolvedores: Dhanielly, Evaldo, Jhoni, Juliano, Manoel </p>
                </div>
            </div>
        </footer>
    




        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
</body>

</html>